@tailwind base;
@tailwind components;
@tailwind utilities;

.focus\:rounded-none:focus {
  @apply rounded-none;
}

@keyframes slideInOut {
  0% {
    transform: translateX(-100%);
  }
  10%,
  90% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
